@font-face {
    font-family: "MyriadPro";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("MyriadPro"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
}